.main-div{
    display: grid;
    grid-auto-flow: column;
    margin-left: 30px;
}
.blog__item {
    border: 1px solid #000d6b;
    padding: 5px;
    border-radius: 5px;
    height: 450px;
    width: 300px;
  }

  button
  
  .blog__title {
    text-decoration: none;
    color: #000d6b;
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.3s;
  }
  
  .blog__title:hover {
    color: #f9a826;
  }

  .main-reviews-div{
    grid-auto-flow: row;
    justify-self: center;

  }
  
.review-title{
    color: #f9a826;
}

.review-description{
    color: #f9a826;
}

.delete-review-button{
    background-color: #000d6b;
    color: whitesmoke;
    padding: 2px;
    border-color: white;
    border-radius: 5px;
    justify-self: flex-end;
}

  @media only screen and (max-width: 768px) {
    .blog__time {
      padding-top: 5px !important;
    }
  
    .blog__time span {
      font-size: 0.7rem;
    }
  
    .blog__info p {
      font-size: 0.7rem;
      line-height: 1.5rem;
      margin-top: 10px;
    }
  
    .blog__title {
      font-size: 1.1rem;
    }
  
    .read__more {
      font-size: 0.7rem;
    }
  }